<!doctype html>
<html lang="us">
<head>
	<meta charset="utf-8">
	<title>AJAX test</title>
    <script src="{{url_for('ajaxify.static', filename='js/jquery.js')}}"></script>
    <script src="{{url_for('ajaxify.static', filename='js/jquery.json.js')}}"></script>
    <script src="{{url_for('ajaxify.static', filename='js/ajaxify.js')}}"></script>
    <script type="text/javascript">
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script type="text/javascript">
        function parse_request() {
            Ajaxify.send( {
                    url: $("input#url").val(),
                    func: $("input#function").val(),
                    attr: $("input#attribute").val(),
                    args: $("input#args").val(),
                    kwargs: $("input#kwargs").val(),
                    callback: function(s, r, e) {
                        console.log('status: ' + s);
                        console.log('result: ' + r);
                        console.log('error: ' + e);
                        $("#status").text(s);
                        $("#result").text(r);
                        $("#error").text(e);
                        }
                    });
        };
        $(function() {
            $("a#send").bind("click", function() {
                    parse_request();
                    return false; // to stop default
                    });
            $(document).bind("keypress", function(e) {
                if (e.keyCode == 13) {
                    parse_request();
                    return false;
                } else {
                    return true;
                };
                });
        });
    </script>
</head>
<body>
    <p>
    <label for="url">AjaxURL</label>
    <input type="text" id="url" value="/ajaxify" />
    <label for="function">function</label>
    <input type="text" id="function" value='foo' />
    <label for="attribute">attribute</label>
    <input type="text" id="attribute" value='' />
    <label for="args">args</label>
    <input type="text" id="args" value='[1, 2]' />
    <label for="kwargs">kwargs</label>
    <input type="text" id="kwargs" value='{"a": 1, "b": 2}' />
    </p>
    <ul>
        <li>Status: <span id="status">?</span></li>
        <li>Result: <span id="result">?</span></li>
        <li>Error : <span id="error">?</span></li>
    </ul>
    <a href="#" id="send">Send</a>
</body>
</html>
